.placement,
.bouton .commander,
header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.iconfontionnement {
  display: flex;
  align-items: center;
}

body {
  overflow-x: hidden;
  max-width: 1870px;
  min-width: 400px;
  margin: 0 auto;
}

/*
 * header
 */
header {
  width: 100%;
  height: auto;
  background-color: white;
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  box-shadow: 0px 7px 16px -3px grey;
}
header h1 {
  font-family: "Shrikhand", cursive;
  font-size: 58px;
  padding-left: 8%;
}
header .fa-arrow-left {
  font-size: 58px;
}
header a {
  text-decoration: none;
  color: #000;
}

.titre {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.titre h2 {
  font-family: "Shrikhand", cursive;
  font-size: 2.3rem;
  padding-left: 8%;
}
.titre i {
  position: absolute;
  font-size: 48px;
  right: 86px;
}

.btn_heart {
  right: 211px;
  opacity: 0;
  color: #ff79da;
  transition: color 0.8s ease-in-out;
}

.btn_heart:hover {
  opacity: 1;
  color: #9356dc;
}

/*
 * Main
 */
main {
  font-family: "Roboto", sans-serif;
}

/*
 *image
 */
#container_img {
  height: auto;
  width: 100%;
  max-width: 1870px;
  min-width: 400px;
}
#container_img img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
}

/*
 * section
 */

@-webkit-keyframes fadeIn {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes slide_titre {
  0% {
    width: 90%;
  }
  100% {
    width: 65%;
  }
}
@keyframes slide_titre {
  0% {
    width: 90%;
  }
  100% {
    width: 65%;
  }
}
@-webkit-keyframes slide {
  0% {
    width: 90%;
  }
  100% {
    width: 75%;
  }
}
@keyframes slide {
  0% {
    width: 90%;
  }
  100% {
    width: 75%;
  }
}

section .menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
section h3 {
  border-bottom: 4px solid #99e2d0;
  width: 58px;
  height: 41px;
  font-size: 35px;
  margin-left: 42px;
}
#menu_global {
  background-color: #f6f6f6;
  margin-top: -111px;
  border-radius: 80px 80px 0 0;
  position: relative;
}
.carte {
  position: relative;
  height: 106px;
  width: 472px;
  border-radius: 21px;
  box-shadow: 0px 0px 11px -2px #bdbdbd;
  margin-bottom: 20px;
  background-color: #fff;
  cursor: pointer;
  overflow: hidden;
  opacity: 0;
  -webkit-animation: fadeIn 1.2s 0.3s ease-in-out both, transform 0.3s;
  animation: fadeIn 1.2s 0.3s ease-in-out both, transform 0.3s;
  transition: all 1.5s;
}

.carte .plats h4 {
  font-size: 22px;
  margin: 0;
  padding: 18px 0 0 29px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.carte:hover h4 {
  animation: slide_titre 0.5s ease-in;
  width: 65%;
  overflow: hidden;
}
.carte:hover > .menu_plats {
  animation: slide 0.5s ease-in;
  width: 75%;
  overflow: hidden;
}

.carte:hover > .confirmation {
  visibility: visible;
  transition: all 0.5s ease-in;
  transform: translateX(-100%);
}

.menu_plats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
}
.menu_plats .txt {
  overflow: hidden;
  white-space: nowrap;
}
.menu_plats .prix {
  font-size: 18px;
  font-weight: bold;
  padding-right: 48px;
}

.txt p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 18px;
}

.confirmation {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99e2d0;
  border-radius: 0px 10px 10px 0px;
  color: #fff;
  font-size: 30px;
  transform-origin: right;
  width: 30%;
  height: 100%;
  top: 0;
  left: 101%;
  visibility: hidden;
}
.confirmation .fa-check-circle {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

.bouton {
  display: flex;
  justify-content: center;
  padding: 50px 0 50px 0;
}
.bouton .commander {
  background: linear-gradient(90deg, #ff79da 0%, #9356dc 80%);
  color: white;
  font-size: 25px;
  height: 80px;
  border-radius: 40px;
  width: 41%;
  box-shadow: 0px 1px 5px 0px grey;
  transition: 0.2s ease-in-out;
}

.commander:hover {
  box-shadow: 0px 1px 5px 0px grey;
  filter: brightness(1.1);
  box-shadow: grey 0px 30px 60px -12px, grey 0px 18px 36px -18px;
}

/*
  * footer
  */
footer {
  background-color: #353535;
  color: white;
  font-family: "Roboto", sans-serif;
}

footer h3 {
  font-family: "Shrikhand", cursive;
  margin-bottom: 14px;
  font-size: 40px;
  margin-top: 0px;
}

#ohmyfood {
  margin-left: 60px;
  height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#ohmyfood .proposer_restaurant,
#ohmyfood .devenir_partenaire {
  display: flex;
  align-content: center;
  align-items: flex-end;
}

#ohmyfood .proposer_restaurant p,
#ohmyfood .devenir_partenaire p {
  padding-left: 14px;
  font-size: 30px;
  font-weight: 500;
}

.proposer_restaurant i {
  font-size: 22px;
}

#ohmyfood p,
a {
  font-size: 30px;
  font-weight: 500;
  margin: 14px 0 -4px 0;
  text-decoration: none;
  color: #fff;
}

/*
Responsive
*/
@media screen and (max-width: 500px) {
  .titre h2 {
    font-size: 22px;
  }
  .titre i {
    font-size: 32px;
  }
  section {
    margin: 11px;
  }
  .carte {
    margin-right: 19px;
  }
  #menu_global {
    width: 364px;
  }
  #ohmyfood {
    margin-left: 5px;
  }
}
