@charset "UTF-8";
/*
 * extention for scss
 */
.placement,
header,
#icon,
main h2,
main h3,
#reservation_menu,
#reservation_menu .gradient {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.icon_fontionnement,
#fonctionnement h2,
#fonctionnement .icon_phone,
#fonctionnement .icon_list,
#fonctionnement .icon_store {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
/*
 * Loaderspinner
 */
.section_loader {
  position: absolute;
  margin: 0;
  padding: 0;
  top: -4px;
  width: 1872px;
  height: 176vh;
  font-family: sans-serif;
  font-size: 88px;
  color: #99e2d0;
  text-align: center;
  line-height: 100vh;
  background: linear-gradient(90deg, #ff79da 0%, #9356dc 80%);
  opacity: 0;
  animation: loader_opacity 1.5s ease-in;
  z-index: -1;
}
.loader {
  width: 93px;
  height: 92px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}
.loader-quart {
  border-radius: 50px;
  border: 6px solid rgba(255, 255, 255, 0.4);
}
.loader-quart:after {
  content: "";
  position: absolute;
  top: -6px;
  left: -6px;
  bottom: -6px;
  right: -6px;
  border-radius: 50px;
  border: 6px solid transparent;
  border-top-color: #99e2d0;
  animation: loader-quart 3s infinite;
}
@keyframes loader-quart {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loader_opacity {
  0% {
    opacity: 1;
    z-index: 5;
  }
  50% {
    opacity: 1;
    z-index: 5;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

/*
 * body
 */
body {
  overflow-x: hidden;
  max-width: 1870px;
  min-width: 400px;
  margin: 0 auto;
}

/*
 * header
 */
header {
  width: 100%;
  height: auto;
  background-color: white;
  position: sticky;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0px 7px 16px -3px grey;
}

header h1 {
  font-family: "Shrikhand", cursive;
  font-size: 58px;
}

#icon {
  background-color: #eaeaea;
  height: 112px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  font-size: 22px;
}

#icon p {
  padding-left: 20px;
}

/*
 * Main
 */
main {
  font-family: "Roboto", sans-serif;
}

#reservation_menu {
  background-color: #f6f6f6;
  height: 480px;
}

#reservation_menu h2 {
  font-size: 38px;
  width: 76%;
  text-align: center;
}

#reservation_menu h3 {
  width: 424px;
  font-size: 25px;
  text-align: center;
  font-weight: inherit;
}

#reservation_menu .gradient {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#ff79da),
    color-stop(80%, #9356dc)
  );
  background: linear-gradient(90deg, #ff79da 0%, #9356dc 80%);
  color: white;
  font-size: 25px;
  height: 80px;
  border-radius: 40px;
  width: 55%;
  -webkit-box-shadow: 0px 1px 5px 0px grey;
  box-shadow: 0px 1px 5px 0px grey;
  text-align: center;
}

/*
 * Fonctinnement
 */
#fonctionnement {
  margin-top: 6%;
}

#fonctionnement h2 {
  -ms-flex-line-pack: start;
  align-content: flex-start;
  margin-left: 77px;
  font-size: 35px;
}

#fonctionnement .icon_phone,
#fonctionnement .icon_list,
#fonctionnement .icon_store {
  margin-bottom: 18px;
  background-color: #f6f6f6;
  height: 100px;
  width: 472px;
  border-radius: 21px;
  -webkit-box-shadow: 0px 0px 54px 4px #bdbdbd;
  box-shadow: 0px 0px 54px 4px #bdbdbd;
  margin-right: 62px;
  margin-left: 89px;
}

#fonctionnement .icon_phone i,
#fonctionnement .icon_list i,
#fonctionnement .icon_store i {
  padding-left: 28px;
  font-size: 25px;
}

#fonctionnement .icon_phone p,
#fonctionnement .icon_list p,
#fonctionnement .icon_store p {
  padding-left: 20px;
  font-size: 20px;
  font-weight: bold;
}

#fonctionnement .icon_phone:hover,
#fonctionnement .icon_list:hover,
#fonctionnement .icon_store:hover {
  background-color: #f5edff;
}

.boîte {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 87px 0 82px 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.icon_phone i,
.icon_list i {
  color: #7e7e7e;
}

.icon_store i {
  color: #9356dc;
}

.icon_phone span,
.icon_list span,
.icon_store span {
  background-color: #9356dc;
  color: white;
  font-size: 29px;
  border-radius: 36px;
  height: 38px;
  width: 38px;
  text-align: center;
  margin-left: -16px;
}

/*
 * Restaurants
 */
#restaurants {
  background-color: #f6f6f6;
  height: auto;
}

#restaurants #container {
  height: auto;
  width: 100%;
  max-width: 1870px;
  min-width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

#restaurants #container a {
  text-decoration: none;
  color: #000;
}

#restaurants article img {
  width: 100%;
  height: 540px;
  border-radius: 37px 37px 0 0;
  -o-object-fit: cover;
  object-fit: cover;
}

.restau_card {
  padding-top: 4%;
  padding-bottom: 7%;
}

.restau_card h3 {
  font-size: 45px;
  margin-left: 48px;
}

article {
  background-color: white;
  -webkit-box-shadow: 0px 1px 5px 0px grey;
  box-shadow: 0px 1px 5px 0px grey;
  border-radius: 37px;
  margin-bottom: 25px;
  width: 870px;
  height: 704px;
  position: relative;
}

article p {
  padding-bottom: 30px;
  padding-left: 20px;
  font-size: 30px;
}

article h4 {
  padding-left: 20px;
  font-size: 34px;
  margin-bottom: -16px;
}

article span {
  position: absolute;
  background-color: #99e2d0;
  color: #008766;
  font-size: 28px;
  left: 69%;
  top: 4%;
  border-radius: 4px;
  width: 25%;
  height: 7%;
  text-align: center;
  padding-top: 15px;
}

.placement_texte_coeur {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.placement_texte_coeur i {
  font-size: 45px;
}

.placement_texte_coeur i {
  position: absolute;
  bottom: 48px;
  right: 66px;
}

.btn_heart {
  opacity: 0;
  color: #ff79da;
  -webkit-transition: color 0.8s ease-in-out;
  transition: color 0.8s ease-in-out;
}

.btn_heart:hover {
  opacity: 1;
  color: #9356dc;
}

/*
  * footer
  */
footer {
  background-color: #353535;
  color: white;
  font-family: "Roboto", sans-serif;
}

footer h3 {
  font-family: "Shrikhand", cursive;
  margin-bottom: 14px;
  font-size: 40px;
  margin-top: 0px;
}

#ohmyfood {
  margin-left: 60px;
  height: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

#ohmyfood .proposer_restaurant,
#ohmyfood .devenir_partenaire {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

#ohmyfood .proposer_restaurant p,
#ohmyfood .devenir_partenaire p {
  padding-left: 14px;
  font-size: 30px;
  font-weight: 500;
}

.proposer_restaurant i {
  font-size: 22px;
}

#ohmyfood p,
a {
  font-size: 30px;
  font-weight: 500;
  margin: 14px 0 -4px 0;
  text-decoration: none;
  color: #fff;
}
/*# sourceMappingURL=style.css.map */
