.placement, header, .bouton .commander {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.iconfontionnement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body {
  overflow-x: hidden;
  max-width: 1870px;
  margin: 0 auto;
}

/*
 * header
 */
header {
  width: 100%;
  height: auto;
  background-color: white;
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-shadow: 0px 7px 16px -3px grey;
          box-shadow: 0px 7px 16px -3px grey;
}

header h1 {
  font-family: "Shrikhand", cursive;
  font-size: 58px;
  padding-left: 8%;
}

header .fa-arrow-left {
  font-size: 58px;
}

header a {
  text-decoration: none;
  color: #000;
}

.titre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.titre h2 {
  font-family: "Shrikhand", cursive;
  font-size: 58px;
  padding-left: 8%;
}

.titre i {
  font-size: 48px;
}

/*
 * Main
 */
main {
  font-family: "Roboto", sans-serif;
}

/*
 *image
 */
#container_img {
  height: auto;
  width: 100%;
  max-width: 1870px;
  min-width: 400px;
}

#container_img img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

#menu_global {
  background-color: #f6f6f6;
}

/*
 * section
 */
section .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

section h3 {
  border-bottom: 4px solid #99e2d0;
  width: 58px;
  height: 41px;
  font-size: 35px;
  margin-left: 42px;
}

.carte {
  height: 106px;
  width: 472px;
  border-radius: 21px;
  -webkit-box-shadow: 0px 0px 54px 4px #bdbdbd;
  box-shadow: 0px 0px 11px -2px #bdbdbd;
  margin-bottom: 20px;
  background-color: white;
}

.carte h4,
.carte p {
  padding-left: 34px;
  font-size: 22px;
  margin-top: 20px;
  margin-bottom: 2px;
}

.carte p {
  position: relative;
}

.carte span {
  position: absolute;
  right: 15px;
}

.carte .color {
  position: relative;
  top: -90px;
  right: -350px;
  height: 106px;
  width: 122px;
  color: white;
  border-radius: 0 21px 21px 0;
}

.carte .fa-check-circle {
  position: absolute;
  font-size: 34px;
  top: 35px;
  left: 41px;
}

.color:hover {
  width: 40%;
  background-color: #99e2d0;
  -webkit-transition: width 2s;
  transition: width 2s;
}

.bouton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px 0 50px 0;
}

.bouton .commander {
  background: -webkit-gradient(linear, left top, right top, from(#ff79da), color-stop(80%, #9356dc));
  background: linear-gradient(90deg, #ff79da 0%, #9356dc 80%);
  color: white;
  font-size: 25px;
  height: 80px;
  border-radius: 40px;
  width: 36%;
  -webkit-box-shadow: 0px 1px 5px 0px grey;
          box-shadow: 0px 1px 5px 0px grey;
}

/*
  * footer
  */
footer {
  background-color: #353535;
  color: white;
  font-family: "Roboto", sans-serif;
}

footer h3 {
  font-family: "Shrikhand", cursive;
  margin-bottom: 14px;
  font-size: 40px;
  margin-top: 0px;
}

#ohmyfood {
  margin-left: 60px;
  height: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

#ohmyfood .proposer_restaurant,
#ohmyfood .devenir_partenaire {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

#ohmyfood .proposer_restaurant p,
#ohmyfood .devenir_partenaire p {
  padding-left: 14px;
  font-size: 30px;
  font-weight: 500;
}

.proposer_restaurant i {
  font-size: 22px;
}

#ohmyfood p,
a {
  font-size: 30px;
  font-weight: 500;
  margin: 14px 0 -4px 0;
  text-decoration: none;
  color: #fff;
}
/*# sourceMappingURL=restaurants.css.map */