@charset "UTF-8";
/*
 * extention for scss
 */
.placement, header, #icon, main h1, main h2, #reservationmenu, #reservationmenu .gradient {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.iconfontionnement, #fonctionnement h2, #fonctionnement .iconphone,
#fonctionnement .iconlist,
#fonctionnement .iconstore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*
 * body
 */
body {
  font-family: "Raleway", sans-serif;
  overflow-x: hidden;
  max-width: 1870px;
  margin: 0 auto;
}

/*
 * header
 */
header {
  width: 100%;
  height: 150px;
  background-color: white;
  -webkit-box-shadow: 0px 1px 5px 0px grey;
          box-shadow: 0px 1px 5px 0px grey;
}

#icon {
  background-color: #eaeaea;
  -webkit-box-shadow: -0px -1px 6px grey;
          box-shadow: -0px -1px 6px grey;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 22px;
}

#icon p {
  padding-left: 20px;
}

/*
 * Main
 */
main {
  font-family: "Roboto", sans-serif;
}

#reservationmenu {
  background-color: #f6f6f6;
  height: 480px;
}

#reservationmenu h1 {
  font-size: 38px;
  width: 63%;
  text-align: center;
}

#reservationmenu h2 {
  width: 424px;
  font-size: 25px;
  text-align: center;
  font-weight: inherit;
}

#reservationmenu .gradient {
  background: -webkit-gradient(linear, left top, right top, from(#ff79da), color-stop(80%, #9356dc));
  background: linear-gradient(90deg, #ff79da 0%, #9356dc 80%);
  color: white;
  font-size: 25px;
  height: 80px;
  border-radius: 40px;
  width: 55%;
  -webkit-box-shadow: 0px 1px 5px 0px grey;
          box-shadow: 0px 1px 5px 0px grey;
}

/*
 * Fonctinnement
 */
#fonctionnement {
  margin-top: 6%;
}

#fonctionnement h2 {
  -ms-flex-line-pack: start;
      align-content: flex-start;
  margin-left: 77px;
  font-size: 35px;
}

#fonctionnement .iconphone,
#fonctionnement .iconlist,
#fonctionnement .iconstore {
  margin-bottom: 18px;
  background-color: #f6f6f6;
  height: 134px;
  width: 472px;
  border-radius: 21px;
  -webkit-box-shadow: 0px 0px 54px 4px #bdbdbd;
          box-shadow: 0px 0px 54px 4px #bdbdbd;
  margin-right: 62px;
  margin-left: 89px;
}

#fonctionnement .iconphone i,
#fonctionnement .iconlist i,
#fonctionnement .iconstore i {
  padding-left: 28px;
  font-size: 25px;
}

#fonctionnement .iconphone p,
#fonctionnement .iconlist p,
#fonctionnement .iconstore p {
  padding-left: 20px;
  font-size: 20px;
  font-weight: bold;
}

#fonctionnement .iconphone:hover,
#fonctionnement .iconlist:hover,
#fonctionnement .iconstore:hover {
  background-color: #f5edff;
}

.boîte {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 87px 0 82px 0;
}

.iconphone i,
.iconlist i {
  color: #7e7e7e;
}

.iconstore i {
  color: #9356dc;
}

.iconphone span,
.iconlist span,
.iconstore span {
  background-color: #9356dc;
  color: white;
  font-size: 29px;
  border-radius: 36px;
  height: 38px;
  width: 38px;
  text-align: center;
  margin-left: -16px;
}

/*
 * Restaurants
 */
#restaurants {
  background-color: #f6f6f6;
  height: auto;
}

#restaurants #container {
  height: auto;
  width: 100%;
  max-width: 1870px;
  min-width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#restaurants article img {
  width: 100%;
  height: 540px;
  border-radius: 37px 37px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.restaucard {
  padding-top: 4%;
  padding-bottom: 7%;
}

.restaucard h3 {
  font-size: 45px;
  margin-left: 48px;
}

article {
  background-color: white;
  -webkit-box-shadow: 0px 1px 5px 0px grey;
          box-shadow: 0px 1px 5px 0px grey;
  border-radius: 37px;
  margin-bottom: 25px;
  width: 870px;
  height: 704px;
  position: relative;
}

article p {
  padding-bottom: 30px;
  padding-left: 20px;
  font-size: 30px;
}

article h4 {
  padding-left: 20px;
  font-size: 34px;
  margin-bottom: -16px;
}

article span {
  position: absolute;
  background-color: #99e2d0;
  color: #008766;
  font-size: 28px;
  left: 69%;
  top: 4%;
  border-radius: 4px;
  width: 25%;
  height: 7%;
  text-align: center;
  padding-top: 15px;
}

.placementtextecoeur {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.placementtextecoeur i {
  font-size: 45px;
}

.placementtextecoeur i:hover {
  color: #9356dc;
}

.placementtextecoeur .textecoeur {
  -webkit-box-flex: 0.9;
      -ms-flex-positive: 0.9;
          flex-grow: 0.9;
}

/*
  * footer
  */
footer {
  background-color: #353535;
  color: white;
  font-family: "Roboto", sans-serif;
}

footer h3 {
  font-family: "Shrikhand", cursive;
  margin-bottom: 14px;
  font-size: 40px;
  margin-top: 0px;
}

#ohmyfood {
  margin-left: 15px;
}

#ohmyfood .proposerunresataurant,
#ohmyfood .devenirpartenaire {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#ohmyfood .proposerunresataurant p,
#ohmyfood .devenirpartenaire p {
  padding-left: 14px;
  font-size: 30px;
  font-weight: 500;
}

.proposerunresataurant i {
  font-size: 22px;
}

#ohmyfood p {
  font-size: 30px;
  font-weight: 500;
  margin: 14px 0 -4px 0;
}
/*# sourceMappingURL=style.css.map */