@import "./variables";
@import "./mixins";
@import "./placehoders";

/*
 * extention for scss
 */
.placement {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
/*
 * body
 */
body {
  font-family: "Raleway", sans-serif;
  margin: 0;
}
header {
  @extend .placement;
  height: 130px;
}

#icon {
  @extend .placement;
  background-color: #f2f2f2;
  box-shadow: -0px -1px 6px grey;
  height: 130px;
  p {
    padding-left: 20px;
  }
}

main {
  h1 {
    @extend .placement;
  }
  h2 {
    @extend .placement;
  }
}
#couleurdefond {
  @extend .placement;
  background-color: #f2f2f2;
  .gradient {
    @extend .placement;
    background: linear-gradient(90deg, $secondaire 0%, $primaire 80%);
    color: white;
    font-size: 25px;
    height: 80px;
    border-radius: 40px;
    width: 55%;
    box-shadow: 0px 1px 5px 0px grey;
  }
}
