/*
 * extention for scss
 */
.placement {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.iconfontionnement {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
/*
 * body
 */
body {
  font-family: "Raleway", sans-serif;
  overflow-x: hidden;
  max-width: 1870px;
  margin: 0 auto;
}
/*
 * header
 */
header {
  @extend .placement;
  width: 100%;
  height: 150px;
  background-color: white;
  box-shadow: 0px 1px 5px 0px grey;
}

#icon {
  @extend .placement;
  background-color: #eaeaea;
  box-shadow: -0px -1px 6px grey;
  height: auto;
  display: flex;
  flex-direction: row;
  font-size: 40px;
  p {
    padding-left: 20px;
  }
}
/*
 * Main
 */
main {
  font-family: "Roboto", sans-serif;
  h1 {
    @extend .placement;
  }
  h2 {
    @extend .placement;
  }
}
#couleurdefond {
  @extend .placement;
  background-color: #f6f6f6;
  height: 572px;
  .gradient {
    @extend .placement;
    background: linear-gradient(90deg, #ff79da 0%, #9356dc 80%);
    color: white;
    font-size: 25px;
    height: 80px;
    border-radius: 40px;
    width: 55%;
    box-shadow: 0px 1px 5px 0px grey;
  }
}
/*
 * Fonctinnement
 */
#fonctionnement {
  h2 {
    @extend .iconfontionnement;
  }
  .iconphone,
  .iconlist,
  .iconstore {
    @extend .iconfontionnement;
    margin-bottom: 18px;
    background-color: #f6f6f6;
    height: 134px;
    width: 100%;
    border-radius: 21px;
    box-shadow: 0px 1px 5px 0px grey;
    margin-right: 12px;
    i {
      padding-left: 28px;
      font-size: 25px;
    }
    p {
      padding-left: 20px;
      font-size: 20px;
    }
  }
}
.boîte {
  display: flex;
  margin: 45px 0 82px 0;
}
.iconphone,
.iconlist {
  i {
    color: #7e7e7e;
  }
}
.iconstore {
  i {
    color: #9356dc;
  }
}
.iconphone,
.iconlist,
.iconstore {
  span {
    background-color: #9356dc;
    color: white;
    font-size: 29px;
    border-radius: 36px;
    height: 38px;
    width: 38px;
    text-align: center;
    margin-left: -16px;
  }
}

/*
 * Restaurants
 */
#restaurants {
  background-color: #f6f6f6;
  #container {
    height: auto;
    width: 100%;
    max-width: 1870px;
    min-width: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  article {
    img {
      width: 100%;
      height: 540px;
      border-radius: 37px 37px 0 0;
      object-fit: cover;
    }
  }
}
article {
  background-color: white;
  box-shadow: 0px 1px 5px 0px grey;
  border-radius: 37px;
  margin-bottom: 25px;
  width: 870px;
  height: 704px;
  position: relative;
  p {
    padding-bottom: 30px;
    padding-left: 20px;
    font-size: 30px;
  }
  h4 {
    padding-left: 20px;
    font-size: 34px;
    margin-bottom: -16px;
  }
}
article {
  span {
    position: absolute;
    background-color: #99e2d0;
    color: #008766;
    font-size: 28px;
    left: 69%;
    top: 4%;
    border-radius: 4px;
    width: 25%;
    height: 7%;
    text-align: center;
    padding-top: 15px;
  }
}
.placementtextecoeur {
  display: flex;
  align-items: center;
  i {
    font-size: 45px;
  }
  i:hover {
    color: #9356dc;
  }
  .textecoeur {
    flex-grow: 0.9;
  }
}

/*
  * footer
  */
footer {
  background-color: #353535;
  color: white;
  font-family: "Roboto", sans-serif;
  h3 {
    font-family: "Shrikhand", cursive;
    margin-bottom: 14px;
    font-size: 40px;
  }
}
#ohmyfood {
  margin-left: 15px;
  .proposerunresataurant,
  .devenirpartenaire {
    display: flex;
    align-content: center;
    align-items: flex-end;
    p {
      padding-left: 14px;
      font-size: 30px;
      font-weight: 500;
    }
  }
}
.proposerunresataurant {
  i {
    font-size: 22px;
  }
}
#ohmyfood {
  p {
    font-size: 30px;
    font-weight: 500;
    margin: 14px 0 -4px 0;
  }
}
